@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

li,
a,
button {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: darkslategrey;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    background-color: #fff;

}

h1 {
    font-size: xxx-large;
    font: weight 5px;
}

.page-header p {
    padding: 30px;
}

.logo {
    cursor: pointer;
    align-items: flex-start;
    margin-right: auto;
    width: 100px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 30px;
}

nav-links li a {
    transition: all 0.3s ease 0s;
}

nav a:hover {
    color: cadetblue;
    transition: all 0.3s ease 0s;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    color: #fff;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    align-self: flex-end;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.page-header {
    height: 50vh;
    background-size: cover;
    background-color: cadetblue;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.flex {
    display: flex;
}

.vertical-center {
    align-self: center;
}

#home {
    background-image: url("https://www.stockvault.net/data/2013/11/16/150806/preview16.jpg");
}